*{
    font-family: Helvetica,Verdana, Geneva, Tahoma, sans-serif;
    
}

a,
.header{
    color: black;

}
div {
    font-size:small;
}

h1{
    font-weight: 1000;
    font-size:large;
}

h2{
    font-size: medium;
    font-weight: 1000;
}

img.recipe{
    width:200px;
    height: auto;
}